#
# /etc/rc.d/dbus: start/stop dbus messagebus service
#

PROG=/usr/bin/dbus-daemon
PIDFILE=/run/dbus/pid
OPTS="--system"
SOCKET=/run/dbus/system_bus_socket

sv_start() {
	msg "Starting D-BUS Messagebus daemon..."
	mkdir -p /run/dbus
	/usr/bin/dbus-uuidgen --ensure
	start_service -p $PIDFILE $PROG $OPTS
}

sv_stop() {
	msg "Stopping D-BUS Messagebus daemon..."
	stop_service -p $PIDFILE $PROG
}

sv_status() {
	status_service $PROG
}

sv_restart() {
	sv_stop
	sleep 1
	sv_start
}

sv_usage() {
	echo "usage: [start|stop|restart|status]"
}

# End of file
