#!/bin/sh
#
# /etc/rc.d/gpm: start/stop the GPM console mouse service
#

. /etc/conf.d/gpm

PROG=/usr/sbin/gpm
PROGNAME=$(basename `echo $PROG`)
PIDFILE=/var/run/$PROGNAME.pid
OPTS="-m $MDEVICE -t $PROTOCOL $GPMOPTS"
if [ -f $PIDFILE ]; then
	PROCPID=$(head -n1 $PIDFILE)
fi

case $1 in
	start)
		echo "Starting GPM console mouse service..."
		if [ "$PROCPID" ]; then
			exit
		fi
		$PROG $OPTS
		;;
	stop)
		echo "Stopping GPM console mouse service..."
		if [ "$PROCPID" ]; then
			kill $PROCPID
			rm -f $PIDFILE
		fi
		;;
	restart)
		$0 stop
		sleep 1
		$0 start
		;;
	status)
		if [ "$PROCPID" ]; then
			echo "$PROGNAME is running with pid: $PROCPID"
		else
			echo "$PROGNAME is not running"
		fi
		;;
	*)
		echo "usage: $0 [start|stop|restart|status]"
		;;
esac

exit 0

# End of file
