#
# /etc/rc.d/sysklogd
#

PROG=/sbin/syslogd
PROGK=/sbin/klogd

sv_start() {
	msg "Starting system log daemon..."
	parms=${SYSKLOGD_PARMS-'-m 0'}
	start_service $PROG $parms
	msg "Starting kernel log daemon..."
	start_service $PROGK
}

sv_stop() {
	msg "Stopping kernel log daemon..."
	stop_service $PROG	
	msg "Stopping system log daemon..."
	stop_service $PROGK
}

sv_reload() {
	echo "Reloading system log daemon config file..."
	pid=`pidof syslogd`
	kill -HUP "$pid"
}

sv_status() {
	status_service $PROG
	status_service $PROGK
}

sv_restart() {
	sv_stop
	sleep 1
	sv_start
}

sv_usage() {
	echo "usage: [start|stop|reload|restart|status]"
}

# End of file
