scripts/error
scripts/outdate
scripts/skip
scripts/config
scripts/*.done
scripts/*.error
scripts/*.list
scripts/*.fail
scripts/*.skip
scripts/\.*
*.img
rootfs/
venomlinux-rootfs*.tar.xz
venomlinux-rootfs*.tar.xz.md5
*.spkg.tar.xz
*-gitignore.sh
*.iso
*.iso.md5
*.iso.sha256sum
*/*/.*.swp
