#
# /etc/rc.d/acpid: start/stop acpid service
#

NAME="ACPI event daemon"
PROG=/usr/sbin/acpid
PIDFILE=/run/acpid.pid

sv_start() {
	msg "Starting $NAME..."
	start_service $PROG
}

sv_stop() {
	msg "Stopping $NAME..."
	stop_service $PROG
}

sv_status() {
	status_service $PROG
}

sv_restart() {
	sv_stop
	sleep 1
	sv_start
}

# End of file
