#!/bin/sh
#
# /etc/rc.d/dhcpcd: start/stop the ISC DHCP Server
#

DEV=wlo1

NAME="ISC DHCP Server dhcpd"
PROG=/sbin/dhcpcd
OPTS="--waitip -h $(/bin/hostname) -z $DEV"
PROCPID=$(pidof $PROG)
PROGNAME=$(basename `echo $PROG`)
PIDFILE=/var/run/dhcpcd.pid

case $1 in
	start)
		echo "Starting $NAME..."
		if [ "$PROCPID" ]; then
			exit
		fi
		$PROG $OPTS
		;;
	stop)
		echo "Stopping $NAME..."
		if [ "$PROCPID" ]; then
			for pid in $PROCPID; do
				kill "$pid"
			done
		fi
		;;
	restart)
		$0 stop
		$0 start
		;;
	status)
		if [ "$PROCPID" ]; then
			echo "$NAME is running with pid: $PROCPID"
		else
			echo "$NAME is not running."
		fi
		;;
	*)
		echo "Usage: $0 [start|stop|restart|status]"
		;;
esac

exit 0
