#	
# /etc/rc.d/network: start/stop the ISC DHCP Server	
#

for d in /sys/class/net/*; do
	d=${d##*/}
	case $d in
		lo|sit0) continue;;
	esac
	AUTODEV=$d; break
done

PROG=/sbin/dhcpcd
PIDFILE=/var/run/$PROGNAME.pid	
OPTS="--waitip -h ${HOSTNAME:-localhost}) -z ${DEV:-$AUTODEV}"

sv_start() {
	msg "Starting network..."	
	start_service $PROG $OPTS
}

sv_stop() {
	msg "Stopping network..."	
	stop_service $PROG
}

sv_status() {
	status_service $PROG
}

sv_restart() {
	sv_stop
	sleep 1
	sv_start
}

sv_usage() {
	echo "usage: [start|stop|restart|status]"
}

# End of file
