#!/bin/sh
#
# /etc/rc.d/rsync: start/stop RSYNC Server
#

NAME="RSYNC Server"
PROG=/usr/bin/rsync
OPTS="--daemon"
PROGNAME=$(basename `echo $PROG`)
PROCPID=$(pidof $PROGNAME)

case $1 in
	start)
		echo "Starting $NAME..."
		if [ "$PROCPID" ]; then
			exit
		fi
		$PROG $OPTS
        ;;
	stop)
		echo "Stopping $NAME..."
		if [ "$PROCPID" ]; then
			for pid in $PROCPID; do
				kill "$pid"
			done
		fi
        ;;
	restart)
        $0 stop
        sleep 1
        $0 start
        ;;
	status)
		if [ "$PROCPID" ]; then
			echo "$NAME is running with pid: $PROCPID"
		else
			echo "$NAME is not running."
		fi
		;;
*)
        echo "usage: $0 [start|stop|restart|status]"
        ;;
esac

exit 0
