#
# /etc/rc.d/gpm: start/stop the GPM console mouse service
#

NAME="GPM console mouse service"
PROG=/usr/sbin/gpm
OPTS="-m ${MDEVICE:-/dev/input/mice} -t ${PROTOCOL:-imps2} $GPMOPTS"

sv_start() {
	msg "Starting GPM console mouse service..."
	start_service $PROG $OPTS
}

sv_stop() {
	msg "Stopping GPM console mouse service..."
	stop_service $PROG
}

sv_status() {
	status_service $PROG
}

sv_restart() {
	sv_stop
	sleep 1
	sv_start
}

sv_usage() {
	echo "usage: [start|stop|restart|status]"
}

# End of file
