[Desktop Entry]
Name=Waterfox-G4
Name[en_US]=waterfox
GenericName=Web Browser
GenericName[en_US]=Web Browser
Comment=Free web browser fork of  Mozilla
Exec=waterfox-g4-bin %U
Terminal=false
Type=Application
Icon=waterfox-g4:
Categories=Network;

