#
# /etc/rc.d/ntpd: start/stop NTP Network Time Protocol
#

PROG=/usr/sbin/ntpd
PROGNAME=NTP
PIDFILE=/var/run/$PROGNAME.pid
OPTS="-g -u ntp:ntp"

sv_start() {
	msg "Starting $PROGNAME service..."
	start_service $PROG $OPTS
}

sv_stop() {
	msg "Stopping $NAME..."
	stop_service $PROG
}

sv_status() {
	status_service $PROG
}

sv_restart() {
	sv_stop
	sleep 1
	sv_start
}

sv_usage() {
	echo "usage: [start|stop|restart|status]"
}

# End of file
