#
# /etc/rc.d/httpd: start/stop Apache HTTP service
#

NAME="Apache HTTP daemon"
PROG=/usr/sbin/httpd

sv_start() {
	msg "Starting $NAME..."
	mkdir -p /var/run/httpd
	start_service /usr/sbin/apachectl -k start
}

sv_stop() {
	msg "Stopping $NAME..."
	start_service /usr/sbin/apachectl -k stop
}

sv_status() {
	status_service $PROG
}

sv_restart() {
	start_service /usr/sbin/apachectl -k restart
}

sv_usage() {
	echo "usage: [start|stop|restart|status]"
}

# End of file
