#!/bin/sh
#
# /etc/rc.d/httpd: start/stop Apache HTTP daemon
#

NAME="Apache HTTP daemon"
PROG=/usr/sbin/httpd
PROCPID=$(pidof $PROG)

case $1 in
	start)
		echo "Starting $NAME..."
		if [ "$PROCPID" ]; then
			exit
		fi
		mkdir -p /var/run/httpd
		/usr/sbin/apachectl -k start
        ;;
	stop)
		echo "Stopping $NAME..."
		/usr/sbin/apachectl -k stop
        ;;
	restart)
		/usr/sbin/apachectl -k restart
        ;;
	status)
		if [ "$PROCPID" ]; then
			echo "$NAME is running with pid: $PROCPID"
		else
			echo "$NAME is not running."
		fi
		;;
	*)
        echo "usage: $0 [start|stop|restart|status]"
        ;;
esac

exit 0
