#!/bin/sh
#
# /etc/rc.d/vboxservice: start/stop VirtualBox Guest Service
#

. /etc/rc.subr

NAME="VirtualBox Service"
PROG=/usr/bin/VBoxService
OPTS="-f"

case $1 in
	start)
		msg "Starting $NAME..."
		start_daemon $PROG $OPTS &
		;;
	stop)
		msg "Stopping $NAME..."
		stop_daemon $PROG
		;;
	restart)
		$0 stop
		sleep 1
		$0 start
		;;
	status)
		status_daemon $PROG
		;;
	*)
		echo "usage: $0 [start|stop|restart|status]"
		;;
esac

# End of file
