#!/bin/sh
#
# /etc/rc.d/dbus: start/stop dbus messagebus daemon
#

PROG=/usr/bin/dbus-daemon
PROGNAME=$(basename `echo $PROG`)
PIDFILE=/run/dbus/pid
OPTS="--system"
SOCKET=/run/dbus/system_bus_socket

case $1 in
	start)
		if [ -f $PIDFILE ]; then
			echo "$PROGNAME is already running"
			exit 1
		fi
		echo "Starting D-BUS Messagebus daemon..."
        mkdir -p /run/dbus
		/usr/bin/dbus-uuidgen --ensure
		$PROG $OPTS
        ;;
	stop)
		if [ ! -f $PIDFILE ]; then
			echo "$PROGNAME is not running"
			exit 1
		fi
		echo "Stopping D-BUS Messagebus daemon..."
		RUNPID=$(pidof $PROGNAME)
		for pid in $RUNPID; do
			kill $pid
		done
		rm -f $SOCKET $PIDFILE
        ;;
	restart)
        $0 stop && $0 start
        ;;
	status)
		PROCPID=$(pidof $PROGNAME)
		if [ "$PROCPID" ]; then
			echo "$PROGNAME is running with pid: $PROCPID"
		else
			echo "$PROGNAME is not running"
		fi
		;;
*)
        echo "usage: $0 [start|stop|restart|status]"
        ;;
esac

