[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Chromium
Exec=chromium %U
Terminal=false
Icon=/usr/share/pixmaps/chromium.png
Type=Application
Categories=Application;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;
