#
# /etc/rc.d/lxdm: start/stop lxdm service
#

NAME="LXDM"
PROG=/usr/sbin/lxdm-binary
PIDFILE=/var/run/lxdm.pid

sv_start() {
	msg "Starting $NAME..."
	start_service -p $PIDFILE /usr/sbin/lxdm -d
}

sv_stop() {
	msg "Stopping $NAME..."
	stop_service -p $PIDFILE /usr/sbin/lxdm
}

sv_status() {
	status_service $PROG
}

sv_restart() {
	sv_stop
	sleep 1
	sv_start
}

sv_usage() {
	echo "usage: [start|stop|restart|status]"
}

# End of file
