#
# /etc/rc.d/light: start/stop light
#

NAME="Brightnes"
PROG=/usr/bin/light

sv_start() {
	msg "Restoring $NAME..."
	start_daemon $PROG -I
}

sv_stop() {
	msg "Saving $NAME..."
	start_daemon $PROG -O
}

sv_restart() {
	sv_stop
	sv_start
}

sv_usage() {
	echo "usage: [start|stop|restart]"
}

# End of file
