[Desktop Entry]
Name=Thunderbird
Name[en_US]=Thunderbird
GenericName=Email Client
GenericName[en_US]=Email Client
Comment=Free email client from Mozilla
Exec=thunderbird %U
Terminal=false
Type=Application
Icon=thunderbird
Categories=Network;
