#
# /etc/rc.d/wpa_supplicant: start/stop wireless interface
#

NAME=wpa_supplicant
PROG=/sbin/wpa_supplicant
PIDFILE_WPA=/var/run/$NAME.pid
OPTS="-B -P $PIDFILE_WPA -D nl80211,wext -c ${CONF:-/etc/wpa_supplicant.conf} -i ${DEV:-wlan0}"

PROG_DHCP=/sbin/dhcpcd
OPTS_DHCP="--waitip -h ${HOSTNAME:-localhost} -z ${DEV:-wlan0}"

sv_start() {
	msg "Starting $NAME..."
	start_service $PROG $OPTS		
	msg "Starting dhcpcd..."
	start_service $PROG_DHCP $OPTS_DHCP
}

sv_stop() {
	msg "Stopping $NAME..."
	stop_service $PROG	
	msg "Stopping dhcpcd..."
	stop_service $PROG_DHCP
}

sv_status() {
	status_service $PROG
	status_service $PROG_DHCP
}

sv_restart() {
	sv_stop
	sleep 1
	sv_start
}

sv_usage() {
	echo "usage: [start|stop|restart|status]"
}

# End of file
