#
# /etc/rc.d/samba: start/stop samba service
#

sv_start() {
	mkdir -p /run/samba
	msg "Starting nmbd..."
	start_service /usr/sbin/nmbd -D
	msg "Starting smbd..."
	start_service /usr/sbin/smbd -D
}

sv_stop() {
	msg "Stopping smbd..."
	stop_service /usr/sbin/smbd
	msg "Stopping nmbd..."
	stop_service /usr/sbin/nmbd
}

sv_status() {
	status_service /usr/sbin/nmbd
	status_service /usr/sbin/smbd
}

sv_restart() {
	sv_stop
	sleep 1
	sv_start
}

sv_usage() {
	echo "usage: [start|stop|restart|status]"
}

# End of file
