[Desktop Entry]
Name=Install
Comment=Install Venom Linux into HDD
Exec=pkexec /usr/sbin/venom-installer
Icon=/usr/share/icons/hicolor/scalable/apps/venomlinux.png
Terminal=true
Type=Application
X-KeepTerminal=true
Path=
StartupNotify=false
Name[en_US]=Install
