#
# /etc/rc.d/tor: start/stop tor service
#

NAME="Tor daemon"
PROG=/usr/bin/tor
OPTS="-f /etc/tor/torrc"

sv_start() {
	msg "Starting $NAME..."
	start_service $PROG $OPTS
}

sv_stop() {
	msg "Stopping $NAME..."
	stop_service $PROG
}

sv_status() {
	status_service $PROG
}

sv_restart() {
	sv_stop
	sleep 1
	sv_start
}

sv_usage() {
	echo "usage: [start|stop|restart|status]"
}

# End of file
