[Desktop Entry]
Name=sway
Comment=An intelligent dynamic tiling Wayland compositor
Exec=dbus-run-session /usr/bin/sway
Icon=
Type=Application
X-DesktopNames=Sway
Keywords=launch;Sway;desktop;session;
