#
# /etc/rc.d/alsa: store/restore ALSA mixer levels
#

ALSACTL=/usr/sbin/alsactl

sv_start() {
	if [ -f /var/lib/alsa/asound.state ]; then
		msg "Restoring ALSA volume state..."
		$ALSACTL restore
	fi
}

sv_stop() {
	msg "Saving ALSA volume state..."
	$ALSACTL store
}

sv_restart() {
	sv_stop
	sleep 1
	sv_start
}

sv_usage() {
	echo "usage: [start|stop|restart]"
}

# End of file
