#!/bin/sh
#
# /etc/rc.d/ntpd: start/stop NTP Network Time Protocol
#

NAME="NTP Network Time Protocol"
PROG=/usr/sbin/ntpd
OPTS="-g -u ntp:ntp"
PROCPID=$(pidof $PROG)
PROGNAME=$(basename `echo $PROG`)
PIDFILE=/var/run/$PROGNAME.pid

case $1 in
	start)
		echo "Starting $NAME..."
		if [ "$PROCPID" ]; then
			exit
		fi
		$PROG $OPTS
        ;;
	stop)
		echo "Stopping $NAME..."
		if [ "$PROCPID" ]; then
			for pid in $PROCPID; do
				kill "$pid"
			done
		fi
		rm -f $PIDFILE
        ;;
	restart)
        $0 stop
        sleep 1
        $0 start
        ;;
	status)
		if [ "$PROCPID" ]; then
			echo "$NAME is running with pid: $PROCPID"
		else
			echo "$NAME is not running."
		fi
		;;
*)
        echo "usage: $0 [start|stop|restart|status]"
        ;;
esac

exit 0
